.menu{
    height: 150px;
    background-color: rgb(0 191 255 / 27%);
    border-radius: 10px;
    border: 4px solid #004eff52;
    padding: 20px;
    margin: 30px;
}
.Withdrawal{
    height: 150px;
    background-color: rgb(255 0 0 / 27%);
    border-radius: 10px;
    border: 4px solid rgb(255 0 0 / 32%);
    padding: 20px;
    margin: 30px;
}
