/* top */
.top-content{
    margin-top: 50px;
    text-align: center;
    position: relative;
}
.login-box{
    height: 80%;
    width: 500px;
    margin: 40px;
    background-color: #d4d4ff5c;
    display: inline-block;
}

.login-header{
    padding: 10px;
    background-color: #a3b9fd5c;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
}